@import './global/_normalize.scss';
@import './componentPartials/systemComponents/scrollbar';

:root {
  color-scheme: light dark;
}

html{
    --gray-9: #0d0e0e;
    --green-8: #0ece35;
    --gray: #b5b5b55c;

    @include scrollbar-1(#0ece3585);
}
