@import './global/_normalize.scss';
@import './componentPartials/systemComponents/scrollbar';

:root {
  color-scheme: light dark;
}

html{
    --gray-9: #0d0e0e;
    --green-8: #0ece35;
    --yellow-something: #CFCE0E;
    --gray: #b5b5b55c;
    --border-radius-5: 5px;

    @include scrollbar-1(#0ece3585);
}
