@import '../componentPartials/typography/headings';
@import '../componentPartials/systemComponents/button';

.actionContainer{
    display        : flex;
    height         : 45rem;
    flex-direction : column;
    justify-content: space-evenly;
    background: linear-gradient(0.55turn, #f8f9fa, #f8f9fa, #0ece35a8);
}

.actionHeader{
    display        : flex;
    align-items    : center;
    width          : 100%;
    justify-content: center;

    h2{
        @include heading(h2);
        text-transform: uppercase;
    }
}

.actionActions{
    display        : flex;
    justify-content: center;
    gap            : 20px;

    button{
        @include button();
        min-width: 10rem;
    }
}

.actionContent{
    display        : flex;
    width          : 100%;
    justify-content: center;
}

@media(max-width: 330px){
    .actionActions{
        flex-direction: column;
        padding       : 0 3rem;
    }
}