@import '../componentPartials/typography/headings';

.footerParent{
    display        : flex;
    flex-direction : column;
    height         : 25rem;
    width          : 100%;
    // max-width      : 1400px;
    justify-content: space-between;
    align-items: center;
    // margin         : 0 auto;
    padding: 0px 25px;
    background: linear-gradient(0.972turn, #f8f9fa, #f8f9fa, #0ece35a8);
}

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    width: inherit;
    max-width: 1400px;
}

.footerInfo{
    text-align    : center;
    display       : flex;
    place-items   : center;
    flex-direction: column;
    gap           : 1rem;

        h2{
            @include heading(h2);
        }
}

.footerMain{
    display        : flex;
    justify-content: space-between;
    border-top     : 2px solid var(--gray);
    padding        : 2.5rem 0rem;
    padding-bottom : 10rem;

    a{
        width: 300px;
    }

    p {
        color: #aeaeae;
        cursor: default;
    }

    menu {

        li {
            transition: all 0.4s ease-in;
            font-weight: 500;

            &:hover {
                color: #aeaeae;
            }
        }
    }
}

@media (max-width: 850px){
    .footerInfo{
        gap: 1rem;
        h2{
            font-size: var(--font-size-fluid-2);
        }
        p{
            font-size: var(--font-size-fluid-0);
        }
    }
}


@media (max-width: 1055px){
    .footerMain{
        flex-direction: column;
        place-items: center;
        text-align:center;
        gap: 1.2rem;
        padding: 2rem 0rem;
        padding-bottom: 5rem;
    }
}