@import '../componentPartials/systemComponents/button';

// here
@mixin containerBase(){
    display       : flex;
    flex-direction: column;
    height        : 5rem;
    width         : 100%;
    justify-content: center;
    align-items: center;
    // max-width     : 1400px;
    margin        : 0 auto;
    // background-color: #f4f4f4;
    background-color: white;
    padding       : var(--size-fluid-3);

    ul {
        display        : flex;
        height         : 100%;
        align-items    : center;
        justify-content: space-between;
        padding        : 0;
        width: 100%;
        max-width: 1400px;
        gap: 50px;

        li {
            list-style-type: none;
            font-weight    : 400;
            letter-spacing : 1px;
            text-transform : uppercase;
            
            a {
                text-decoration: none;
                border: 1px solid var(--green-8);
                border-radius: var(--border-radius-5);
                padding: 0.8em;
                transition: all 0.4s ease-in;
                height: 3rem;
                font-size: 14px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;

                &:hover {
                    background-color: var(--green-8);
                    color: white;
                }
            }

            button {
                font-weight   : 500;
                letter-spacing: 1px;
                text-transform: uppercase;
                @include button;
                padding: 0.8em;
                height: 3rem;
                font-size: 16px;

                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
}

.logoImage {
    width: 110px;
    height: 110px !important;
    border: none !important;

    &:hover {
        background-color: transparent !important;
        color: white !important;
        scale: 0.9;
    }
}

.logoContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.container {
 @include containerBase;
}

.galleryContainer{
    @include containerBase;
    // max-width     : unset;
    // padding-inline: 18.2rem;
    //background    : linear-gradient(180deg, rgba(0,0,0,0.7315301120448179) 0%, rgba(255,255,255,0) 60%);
    
    @media (prefers-color-scheme: light) {
        background: none;
    }

    position : absolute;
    left     : 0;
    right    : 0;
    z-index  : 1;
    animation: hideNav 5s forwards;

    &:hover, &:focus, &:focus-within{
        animation: showNav 500ms forwards;
    }
}

@keyframes hideNav {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100%  {opacity: 0;}
}

@keyframes showNav {
    0%   {opacity: 0;}
    90%  {opacity: 0;}
    100%  {opacity: 1;}
}

@keyframes disableNav {
    0% {pointer-events: all;}
    100% {pointer-events: none;}
}

.menuItems{
    display    : flex;
    align-items: center;
    gap        : 1rem;
    width: 450px;

    li{
        a{
            color: var(--green-8);
        }
    }
}