.container {
    display       : flex;
    flex-direction: column;
    height        : 3.75rem;
    width         : 100%;
    max-width     : 100rem;
    margin        : 0 auto;
    //border-bottom : 2px solid var(--green-8);
    padding       : var(--size-fluid-3);

    ul {
        display        : flex;
        height         : 100%;
        align-items    : center;
        justify-content: space-between;
        padding        : 0;

        li {
            list-style-type: none;
            font-weight    : 600;
        }
    }
}