.testimonialContainer{
    display            : flex;
    flex-direction     : column;
    min-height         : 80vh;
    max-width          : 100rem;
    padding            : var(--size-fluid-3);
    margin             : 0 auto;
    justify-content    : space-evenly;
    background-image   : url('../../public/assets/img/testimonialsMap.svg');
    background-position: center;
}

.testimonialHeader{
    h2{
        font-weight   : 400;
        letter-spacing: 2px;
    }

    h3{
        font-weight   : 700;
        letter-spacing: 2px;
        font-size     : var(--font-size-3);
        text-transform: uppercase;
        color         : var(--green-8);
    }
}

.testimonialContent{
    display              : grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, max-content));
    justify-content      : center;
    gap                  : 1rem;
}