@mixin button(){
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 2.5rem;
    min-width       : 7rem;
    cursor          : pointer;
    background-color: var(--green-8);
    color           : white;
    border-radius   : var(--radius-round);
    transition      : transform .2s ease-in-out;
    padding         : 1.5rem;

    &:hover {
        transform: scale(1.1);
    }
}